---
---

<main class="h-full flex flex-col items-center justify-center text-center">
  <h1 class="text-7xl font-sans font-extrabold tracking-tight mb-4" >Ariel Velasco</h1>
  <p>En construcción...</p>
</main>
