<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ariel Velasco</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import "tailwindcss";

	body {
		height: 100vh;
	}

	html {
		color-scheme: dark;
	}
</style>
